.task_column_heading{
    display: flex;
    align-items: center;
}
.task_column_icon{
    width: 30px;
    margin-right: 5px;
}

@media (max-width: 1440px){
    .task_column_heading {
        font-size: 18px;
    }
    .task_column_icon{
        width: 28px;
        margin-right: 5px;
    }
}